<mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
  @for (page of tabListName; track page) {
    <mat-tab [label]="page.titre">
      <div>
        @switch (page.typePage) {
          @case (PageEnum.Conversion) {
            <app-conversion></app-conversion>
          }
          @case (PageEnum.Code) {
            <app-code></app-code>
          }
          @case (PageEnum.Notes) {
            <app-notes></app-notes>
          }
          @case (PageEnum.Date) {
            <app-date></app-date>
          }
          @case (PageEnum.Files) {
            <app-files></app-files>
          }
        }
      </div>
    </mat-tab>
  }
</mat-tab-group>
