<mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let page of tabListName" [label]="page.titre">

      <div [ngSwitch]="page.typePage">

        <app-conversion *ngSwitchCase="PageEnum.Conversion"></app-conversion>

        <app-code *ngSwitchCase="PageEnum.Code"></app-code>

        <app-notes *ngSwitchCase="PageEnum.Notes"></app-notes>

        <app-date *ngSwitchCase="PageEnum.Date"></app-date>

        <app-files *ngSwitchCase="PageEnum.Files"></app-files>

      </div>

  </mat-tab>
</mat-tab-group>
