<h1>{{title}}</h1>


<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/conversion">
    <mat-icon>dialpad</mat-icon>
    <span>Conversion</span>
  </button>
  <button mat-menu-item routerLink="/code">
    <mat-icon>voicemail</mat-icon>
    <span>code</span>
  </button>
  <button mat-menu-item routerLink="/notes">
    <mat-icon>notifications_off</mat-icon>
    <span>bloc note</span>
  </button>
</mat-menu>


<hr/>

<hr/>


  <hr/>

  <hr/>




<hr/>

<router-outlet></router-outlet>

