<h1>{{title}}</h1>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="addNewPage(PageEnum.Conversion)">
    <mat-icon>trending_flat</mat-icon>
    <span>Conversion</span>
  </button>
  <button mat-menu-item (click)="addNewPage(PageEnum.Code)">
    <mat-icon>code</mat-icon>
    <span>code</span>
  </button>
  <button mat-menu-item (click)="addNewPage(PageEnum.Notes)">
    <mat-icon>description</mat-icon>
    <span>bloc note</span>
  </button>
  <button mat-menu-item (click)="addNewPage(PageEnum.Date)">
    <mat-icon>description</mat-icon>
    <span>Dates</span>
  </button>
  <button mat-menu-item (click)="addNewPage(PageEnum.Files)">
    <mat-icon>description</mat-icon>
    <span>Files</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="close()">
    <mat-icon>description</mat-icon>
    <span>ferme</span>
  </button>

</mat-menu>


<app-tab [addNewTab]="addNewTabSubject" [closeTab]="closeTabSubject"></app-tab>

