<!-- Date du jour -->

<section>
  <div class="example-label">Date du jour: {{dateJour}} (millisecondes: {{dateJourMilli}})</div>
  <div class="example-button-row">
    <button mat-raised-button (click)="majDate()">Mise à jour</button>
  </div>
</section>

<mat-divider></mat-divider>

<!-- ajout de jour à une date -->

<form [formGroup]="operateurForm" (ngSubmit)="onSubmitOperateur()">
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateOperateur">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Operateur</mat-label>
    <mat-select formControlName="operateur">
      @for (operateur of listeOperateur; track operateur) {
        <mat-option [value]="operateur">
          {{operateur}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Valeur</mat-label>
    <input matInput placeholder="Ex. Pizza" type="number" formControlName="valeurOperateur">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Unite</mat-label>
    <mat-select formControlName="unite">
      @for (unite of listeUnite; track unite) {
        <mat-option [value]="unite">
          {{unite}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="calcul()">Calcul</button>

  <span>{{resultat}}</span>

</form>

<mat-divider></mat-divider>

<!-- différence de date -->

<form [formGroup]="differenceForm" (ngSubmit)="onSubmitOperateur()">
  <mat-form-field appearance="fill">
    <mat-label>Date debut</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="dateDebut">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date fin</mat-label>
    <input matInput [matDatepicker]="picker3" formControlName="dateFin">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Unite</mat-label>
    <mat-select formControlName="unite">
      @for (unite of listeUnite; track unite) {
        <mat-option [value]="unite">
          {{unite}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>


  <button mat-raised-button (click)="calculDifference()">Calcul Différence</button>

  <span>{{resultatDifference}}</span>

  <mat-divider></mat-divider>

  <!-- calendrier -->

  <mat-card appearance="outlined" class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>

</form>



