
<form [formGroup]="codeForm" (ngSubmit)="onSubmit()">

  <!--  <div>-->
  <!--  <div>-->
  <!--    <ngx-codemirror-->
  <!--      formControlName="srccodejavascript"-->
<!--      [options]="{-->
<!--    lineNumbers: true,-->
<!--    theme: 'material',-->
<!--    mode: 'javascript'-->
<!--  }"-->
<!--    ></ngx-codemirror>-->
<!--  </div>-->

<!--  </div>-->
<hr/>
  <div>
    <app-editor formControlName="srccodejavascript"></app-editor>
  </div>
  <hr/>
  <div id="resultatCode">@for (ligne of resultatCode; track ligne) {
<span>{{ligne}}<br/></span>
}</div>
  <section>
    <div class="example-button-row">
  <button (click)="executeJavascript()" mat-raised-button>Execute</button>
  <button (click)="videConsole()" mat-raised-button>Vide la console</button>
      <button (click)="update()" mat-raised-button>update</button>
    </div>
  </section>

</form>
